* {
    margin: 0;
    padding: 0;
}

header h1, header h2 {
    text-align: center;
    text-transform: capitalize;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

footer p {
    text-align: center;
}

#tiles-container {
    display: block;
    width: 1400px;
    height: 600px;
    margin: 20px auto;
    outline: 3px solid #aaa;
    box-shadow: -3px 3px 5px 3px #aaa;
}

#legend {
    width: 1400px;
    display: block;
    margin: auto;
}