* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

footer p {
    text-align: center;
}